# Private assignment workspace docs (lecturer-provided, do not redistribute)
cse6364/*
# But DO track our deliverable artefacts inside that folder
!cse6364/migrations/
!cse6364/evidence/
!cse6364/testing/

# IDE / editor config
.idea/
.vscode/
*.swp

# OS junk
desktop.ini
Thumbs.db
.DS_Store
